

             
                      <header class='header row g-0'>
                              <div class="col-3">
                                  {{>logo}}
                                </div>
                        <nav class='header_nav col-9' >
                            <div class="nav_right">
                              {{>nav list=header}}
                            </div>
                        </nav>
                     </header> 

           {{#with main}}
                    <div class="hero">
                        <div class="her_content">
                          <h1 class="hero_title">
                              {{heading}}
                          </h1>
                          <p class="hero_text">{{description}}</p>
                          <a href='{{href}}' class='button'>{{button}}
  </a>
                        </div>
                        <img src="{{image}}" alt="Hero image" class="hero_image">
                    </div>
            {{/with}}

                    <main class="blog">
                      {{#each featured}}
                        {{>cardFeatured data=this}}
                       {{/each}}
                    </main>
                     <div class="form">
                          {{#each actions}}  
                              {{>formItems data=this}}
                          {{/each}}
                     </div>
                  
                    <footer class="row footer g-0">
                        <div class="col-3">
                          {{>logo}}
                          <span class="footer_copyright">Copyright 2024</span> 
                        </div>
                        {{#each footer}}
                        <div class="col-3">
                            <span class="footer_title">{{title}}</span>
                            {{>nav list=links isVertical=true}}
                        </div>
                        {{/each}}

                    </footer>
           
 
